* {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flexbox;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 118, 3);
  border-radius: 50px;
  outline: 1.5px solid black;
}
